.cell {
  fill: transparent;
  stroke: red;
  stroke-width: 1;
}

polygon {
  fill: transparent;
  stroke: blue;
  stroke-width: 1;
}

.player1 {
  fill: pink;
  stroke: red;
  stroke-width: 1;
}

.player2 {
  fill: yellow;
  stroke: red;
  stroke-width: 1;
}

.player3 {
  fill: green;
  stroke: red;
  stroke-width: 1;
}
